*{
  cursor:pointer
}
body{
  overflow-x: hidden;
  background-color: rgb(246, 243, 243);
  font-family: 'Roboto', sans-serif;
}
#middle {
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Abel", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  overflow-y: hidden;

}

#middle {

  text-align: center;
  width: 95%;
  margin: auto;
}

#middle h1 {
  /* background-image: linear-gradient(rgb(242, 127, 127),pink); */
  background: linear-gradient(90deg, #83f8fa, #f19cf2, #43bcf4);
  font-size: 25px;
  margin-right: 80%;
  margin-top: 10px;
  color: rgb(246, 10, 50);
}

#middle p {
  color: grey;
  font-size: 18px;
  margin-top: 5px;
}
.p {
  margin-bottom: 20px;
  margin-right: 80%;
}

/* //slider// */

#section1 {
  background-color: rgb(246, 243, 243);
  padding-top: 60px;
  width: 100%;
  margin: 0 auto;
  display: block;
}
#section1 img {
  width: 100%;
  margin: 0 auto;
  display: block;
}
#container {
  display: block;
  margin: auto;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}
.btn {
  background-color: rgba(8, 161, 238, 0);
  border: none;
  text-shadow: 3px 4px 15px rgb(28, 151, 240);
  font-style: italic;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  color: rgb(240, 80, 181);
}
#previous,
#previous2,
#previous3 {
  right: -6%;
}

#next,
#next2,
#next3 {
  left: -6%;
}

#image {
  border-radius: 15px;
  align-items: center;
}

#container {
  /* margin: 0 10px;  */
  margin: auto;
  transition: 20s;
  background-color: rgb(246, 243, 243);
}
#container:hover {
  transform: scale(1.2);
  z-index: 2;
  cursor: pointer;
}

/*  */
#container2 {
  width: 90%;
  margin: auto;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  justify-content: center;
  background-color: rgb(246, 243, 243);
}

.image1 {
  /* width: 250px; */
  margin: auto;
  /* box-shadow: 0 0 20px 2px rgba(0,0,0,.1); */
  transition: 1s;
}

.image1 img {
  border-radius: 20px;
  display: block;
}

.image1:hover {
  transform: scale(1.2);
  z-index: 2;
  cursor: pointer;
}
/*  */
#container3 {
  margin-top: 15px;
}
.image3 {
  cursor: pointer;
}
/* cards */
#container4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 15px;
  padding-bottom: 30px;
}

.card-top {
  margin-top: 20px;
  cursor: pointer;
}
#container4 > cards {
  box-shadow: 10px 20px 10px rgb(249, 199, 207);
}


.cards {
  width: 100%;
  background-color: pink;
  border-radius: 5px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.image3 img {
  width: 100%;
  background-color: pink;
  border-radius: 5px;
}
.title {
  text-align: center;
}
.des {
  text-align: center;
}
.cards:hover {
  color: white;
  transition: 5s;
}

.part1 {
  display: flex;
  gap: 20px;
}
.part2 {
  margin-top: 30px;
  margin-bottom: 15px;
}
.part1 img {
  width: 100%;
  border-radius: 10px;
}
.part2 img {
  width: 50%;
  border-radius: 20px;
}

.card-top2 {
  display: flex;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  gap: 30px;
  cursor: pointer;
}

.card-2 {
  width: 100%;
  box-shadow: 3px 2px 3px grey;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-2:hover {
  color: rgb(217, 10, 45);
  transition: 5s;
}

.image4 img {
  width: 100%;
}

.image5 img {
  width: 100%;
}
.image6 {
  margin-bottom: 30px;
}
.image6 img {
  width: 100%;
  /* #FC2779 */
  /* nykaa color */
}
/* section7 cards glider */

.swiper {
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* border: 1px solid black; */
}

.swiper-pagination {
  height: 7px;
  width: 26px;
  border-radius: 25px;
  cursor: pointer;
}

.swiper-slide {
  /* border: solid black; */
  text-align: center;
  color: rgb(233, 25, 205);
  font-family: "Times New Roman", Times, serif;
}

.swiper-slide .image img {
  width: 90%;
}

.swiper-slide .button button {
  /* color: rgb(118, 40, 112); */
  background-color: rgb(215, 178, 198);
  border-radius: 10px;
  /* border: none; */
  padding: 3px;
  cursor: pointer;
}

#container7 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  padding-bottom: 20px;
  margin-top: 15px;
}
.card3 {
  width: 100%;
  box-shadow: 1px 1px 1px grey;

  border-radius: 5px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.card3:hover {
  color: rgb(248, 203, 203);
  transition: 5s;
}

#container8 {
  width: 80%;
  display: flex;
  gap: 40px;
}

.card4 {
  width: 80%;
  box-shadow: 2px 2px 2px grey;
  border-radius: 5px;
  margin: 10px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 10px;

}
.card4:hover {
  color: white;

  transition: 5s;
}

.image11 img {
  width: 100%;
}
.image10 img {
  width: 100%;
}

#container-blue{
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  background-color: rgb(195, 247, 247);
  margin-bottom: 20px;
  padding: 10px;
}
body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(254, 146, 187);
}
.container-blue3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding-bottom: 30px;
  margin-top: 15px;
}
.card-3 {
  width: 100%;
  box-shadow: 3px 2px 3px grey;

  border-radius: 5px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.btn {
  padding: 30px;
}

.swiper {
  width: 100%;
  height: 100%;
  text-align: center;
}

.swiper-pagination {
  height: 7px;
  width: 26px;
  border-radius: 25px;
}

.swiper-slide {
  /* border: solid black; */
  text-align: center;
  color: grey;
  /* font-family: Arial, Helvetica, sans-serif; */
  margin-top: 2%;
  margin-bottom: 2%;
}

.swiper-slide .image img {
  width: 70%;
}

.swiper-slide .button button {
  color: rgb(40, 118, 40);
  background-color: rgb(178, 215, 178);
  border-radius: 10px;
  border: none;
  padding: 3px;
}
.swiper mySwiper {
  display: flex;
}
.cardbluepink {
  margin-bottom: 30px;
}

.imagebluepink img {
  width: 100%;
  cursor: pointer;
}
.part1 img {
  cursor: pointer;
}

.p-pink {
  color: #fc2779;
}

#lastcontainer {
  margin-top: 20px;
  margin-bottom: 20px;
}
.lastimg img {
  width: 100%;
}
/* ring */
.secret-container {
  /* box-sizing: border-box; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
  background: #ee699c;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.secret-container .ring {
  position: relative;
  width: 100px;
  height: 100px;
  border: 4px solid white;
  border-radius: 50%;
  margin: -30px;
  border-top: 4px solid pink;
  animation: animate 4s linear infinite;
  box-shadow: 0 0 0 5px rgb(251, 90, 251), 0 0 0 5px rgb(177, 1, 186);
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.secret-container::before {
  content: "";
  position: absolute;
  width: 10px;
  border-radius: 40%;
  height: 10px;
  background: #f443cb;
  top: 8px;

  right: 8px;
}

.secret-container .ring :nth-child(3) {
  position: absolute;
  /* top: -66.66px;  */
  animation: animate2 4s linear infinite;
}

.secret-container .ring :nth-child(2) {
  position: absolute;
  top: -66.66px;
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.secret-container p {
  position: absolute;
  color: white;
  font-size: 1.5px;
  font-family: consolas;
  bottom: -80px;
  letter-spacing: 0.1;
}
img{
  border-radius: 10px;
}


@media (max-width: 1080px) {
  #middle{
    width: 100%;
  }
  #container4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #container2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #container2 img{
   width: 90%;
  }
  .card-top2 {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .swiper {
    display: none;
  }
  #container7{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .card-top{
    display:none;
    
  }
  #section9{
    display: none;
  }
  #section1>h1,#section1>p{
    display: none;
  }
  .image10{
    width: 50%;
    margin: auto;
  }
  .lastimg{
    display: none;
  }
  #container-blue{
    display: none;
  }
  .image5{
    width: 80%;
    margin: auto;
  }
  .part2 img{
    width: 100%;
  }
 .cards{
  width: 80%;
  margin: auto;
 }

}

@media (max-width: 450px) {
  
  #middle{
    width: 100%;
  }
  #container4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #container2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #container2 img{
    width: 90%;
   }
   .card-top2 {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  #container7{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .card-top{
    display:none;
    
  }
  #section9{
    display: none;
  }
  #section1>h1,#section1>p{
    display: none;
  }
  .image10{
    width: 70%;
    margin: auto;
  }
  .lastimg{
    display: none;
  }
  #container-blue{
    display: none;
  }
  .image5{
    width: 80%;
    margin: auto;
  }
  .cards{
    width: 80%;
    margin: auto;
   }
}